
<div id="wrapper" style="background-color: #efefef">

    <form asp-controller="Admin" asp-action="Rating" method="post" class="form-horizontal" role="form">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" name="submitButton" class="btn btn-default" placeholder="Update info of all users"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Generate" name="submitButton" class="btn btn-default" placeholder="Generate weekly rating"/>
                </div>
            </div>            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" name="submitButton" class="btn btn-default" placeholder="Delete weekly rating"/>
                </div>
            </div>
        </div>
    </form>

</div>