@model IEnumerable<UserInfo>

<h2>Клан ІТ KPI</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Total points</th>
        <th>Clan</th>
        <th>VK Link</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.honor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vkLink)
            </td>
        </tr>
    }
</table>