<form asp-controller="Registration" asp-action="RegButton" method="post" class="form-horizontal" role="form">
    <div class="col-md-12">
        <input type="submit" value="Registration" name="Registration" class="btn btn-default" placeholder="Registration" />
    </div>
</form>